<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SummerServe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/summerServe.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>

  </style>
</head>
<body>
<div class="container-fluid bg-1">
  <h3 class="margin-1">SummerServe Copyright</h3>
<!--  <p class="margin">API v1.2</p>-->
</div>
<div class="container-fluid bg-2">
  <h3>Copyright Notice</h3>
  <p class="margin">The SummerServe Core, API and any related products or services are licenced under the GNU AGPLv3 open source licence.<br>This requires any usage or modifications of SummerServe, and it's sub products to be freely open and credit MUST be given. If these are not met a take-down request will be sent out.</p>
</div>

<footer class="container-fluid bg-3">
  <p class="center-text">SummerServe Core API - ©summer. 2022</p>
</footer>
</body>
</html>